:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

body {
    background-color: var(--light);
}

/* .card-container {
    background-color: burlywood;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    
} 

.cat-container {
    padding: 10px;
    margin: 10px;
    border-style: solid;
    border-color: var(--coral);
    border-width: 5px;
    background-color:var(--light);
}

h1 {
    font-size: 2rem;
}  */

img {
    width: 250px;
}





