:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

body {
    background-color: var(--light);
}

h1{
    font-size: 2rem;
    text-align: center;
}

h2{
    font-size: 1.6rem;
    text-align: center;
}

.card h3{
    font-size: 1.5rem;
}

#cat-description{
    font-size: 1rem;
    text-align: justify;
    margin:30px;
}

.cat-info p {
    font-size: 1.1rem;
}

.card {
    padding: 10px;
    margin: 10px;
}

img {
    width: 250px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    flex-basis: 20%;
    border: #F05D5E solid;
    border-radius: 2rem;
    padding: .5rem 1rem;
    background-color: #D8A47F;
    text-align: center;
    font-family: sans-serif;
}

.site-nav{
    display: flex;
    padding: 1em .8em;
    list-style-type: none;
    background-color: #0F7173;
    border-radius: .3em;
    text-align: center;
    
}

.site-nav > li > a:hover {
    background-color: var(--coral);
    color: var(--light);
}

.site-nav > li > a{
    background-color: #D8A47F;
    color: #272932;
    text-decoration: none;
    display: block;
    padding: .6em 1em;
}

.site-nav > li + li{
    margin-left: 1.6em;
}

.site-nav > .nav-right{
    margin-left: auto;
}

@media(min-width: 700px) {
    h1{
        font-size: 3rem;
    }

    h2{
        font-size: 2.3rem;
    }

    .card h3{
        font-size: 2.5rem;
    }
}

@media(max-width: 480px){
    #cat-description{
        display: none;
    }
}

@media(max-width:600px){
    .card{
        flex-basis: 80%;
    }

    .site-nav{
        flex-direction: column;
    }

    .site-nav > li + li{
        margin-left: 0;
        margin-top: 1em;
    }
    
    .site-nav > .nav-right{
        width:100%
    }


}

@media (prefers-color-scheme: dark) {
    body {
      background-color: #333333;
      color: #ffffff;
    }
}